@import "../../utils/variables.css";

:root {
  --text-primary: #06bee1;
  --text-secondary: #ffffff;
  --bg-primary: #01161e;
  --bg-secondary: #1768ac;
}

.navbar {
  width: 95%;
  height: 60px;
  padding: 7px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 10px;
  left: 2.5%;
}

.navbar__logo {
  color: var(--text-primary);
}
